[Unit]
Description=Gunicorn instance to serve FlaskAsk
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flaskask
Environment="PATH=/home/ubuntu/flaskask/venv/bin"
ExecStart=/home/ubuntu/flaskask/venv/bin/gunicorn --workers 3 --reload --bind unix:flaskask.sock -m 007 wsgi:app
EnvironmentFile=/home/ubuntu/flaskask/environment

[Install]
WantedBy=multi-user.target
